/* Forget Password */
.forget_password_section{
    margin-top: 175px;
    padding-bottom: 50px;
}
.form_background{
    background-color: #ffffff;
    padding: 50px;
    border-radius: 10px;
}
.form_background h2{
    color: var(--font_color);
}
.form_background .btn{
    background-color: var(--hover_footer_font_color);
    padding: 10px 50px;
    font-size: 18px;
    color: var(--footer_font);
}
.forget_password{
    background: linear-gradient(#CEE5ED, #62BDF4);
}
.forget_password_section input{
    height: 50px;
}

/* Forget Password */