/* Login Page */
.login_body{
    background: linear-gradient(#62BDF4, #CEE5ED);
}
.login{
    margin-top: 175px;
    padding-bottom: 50px;
}
.login_heading{
    color: var(--font_color);
}
.login .background_img{
    background-image: url('../image/flat.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.login_right_sight{
    background-color: var(--footer_font);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 40px;
}
.login_right_sight img{
    height: auto;
    width: 50px;
    animation: move 2s linear infinite alternate;
}
@keyframes move{
    0%{
        margin-left: 25px;
    }
    25%{
        margin-left: 10px;
    }
    50%{
        margin-left: 0;
    }
    75%{
        margin-left: 10px;
    }
    100%{
        margin-left: 25px;
    }
}
.login_right_sight h2{
    font-size: 40px;
}
.login_right_sight p{
    font-size: 18px;
}
.form_padding{
    padding: 0 120px;
}
.form_padding input{
    height: 50px;
}
.form_padding button{
    background-color: var(--hover_footer_font_color);
    padding: 15px 50px;
    color: var(--footer_font);
    font-size: 18px;
}
.forget a{
    text-decoration: none;
}
.have_account a {
    text-decoration: none;
}
@media only screen and (min-width: 280px) and (max-width: 540px){
    .form_padding{
        padding: 0 0px;
    }
    .login_right_sight{
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    } 
}
@media only screen and (min-width: 667px) and (max-width: 950px){
    .form_padding{
        padding: 0 0px;
    }
    .login_right_sight{
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    } 
}
/* Login Page */